

<div class="wrapper">
    <div class="body">
        <img class="logo" src="assets/img/usuario.png" alt="LoginImg">
        <h1>Login</h1>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Usuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div >
            <button type="button" class="btn btn-outline-primary" routerLink="/dashboard">Login</button>
        </div>
        <p>¿Eres nuevo? 
            <a routerLink="/signIn">Registrar</a></p>
      </div>
      <router-outlet></router-outlet>
</div>
